@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50;
}

/* Hide scrollbar but keep scrolling */
.no-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.no-scroll {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
